@import url('https://use.typekit.net/jmk3xov.css');
canvas {
	position: fixed;
	top: 0;
	left: 0;
}

main {
	position: absolute;
	width: 100%;
	max-width: 100%;
	font-size: 25px;
	color: white;
	cursor: crosshair;
}

h1 {
	font-size: 100px;
	font-family: elevon, sans-serif;
}
.pageMargin {
	margin: 100vh;
}

.karta {
	background: rgba(0, 0, 0, 95%);
	padding: 40px !important;
}

.nadpis {
	font-size: 9em;
	font-family: elevon, sans-serif;
	background: rgba(100%, 100%, 100%, 95%);
	color: #000;
	margin-bottom: 20px;
	max-width: min-content;
}

.email {
	font-size: 4em;
	padding: 10px;
	font-family: elevon, sans-serif;
	background: rgba(100%, 100%, 100%, 95%);
	color: #000;
	margin-bottom: 20px;
	max-width: min-content;
	clip-path: polygon(
		4% 19%,
		8% 0,
		100% 1%,
		100% 63%,
		97% 79%,
		93% 100%,
		0% 99%,
		0% 42%
	);
	transition: 0.25s;
	cursor: pointer;
}

.email a {
	color: rgba(0, 0, 0);
}

.email:hover {
	clip-path: polygon(
		0 0,
		8% 0,
		100% 1%,
		100% 63%,
		100% 100%,
		93% 100%,
		0% 99%,
		0% 42%
	);
}

.tlacitko {
	color: #000;
	background: #fff;
	width: min-content;
	padding: 20px;
	clip-path: polygon(
		9% 20%,
		16% 0%,
		100% 1%,
		100% 59%,
		93% 80%,
		86% 99%,
		0% 99%,
		0% 42%
	);
	transition: 0.25s;
	cursor: pointer;
}
.tlacitko:hover {
	clip-path: polygon(
		0 0,
		16% 0%,
		100% 1%,
		100% 59%,
		100% 100%,
		86% 99%,
		0% 99%,
		0% 42%
	);
}
.karta a {
	color: white;
	border-bottom: solid white 4px;
	transition: 0.25s;
}

.karta a:hover {
	border-bottom: solid white 8px;
}

.no-links a {
	color: #9e9e9e;
	transition: 0.25s;
}

.no-links a:hover {
	color: #fff;
}

footer {
	cursor: default;
	font-size: 16px;
}
